body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.scene {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.gift.hidden {
  display: none;
}

.gift {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  cursor: pointer;
}

.gift svg {
  width: 100%;
  height: 100%;
}
